@charset "UTF-8";
@media screen {
  body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
  }

  .levelDiv {
    max-width: 600px;
    display: grid;
    grid-gap: 10px;
    /*background-color: #eee;*/
  }
  .levelElement {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    cursor: zoom-in;
  }

  #levelFirst {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }
  .levelFirstElement {
    background-color: pink;
  }

  #levelSecond {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }
  .levelSecondElement {
    background-color: lightblue;
  }

  .elementActive {
    background-color: #2196F3;
  }
}